<html>
  <head>
    <meta http-equiv="refresh" content="5" />
    <script type="text/javascript" src="/assets/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/assets/js/highcharts.js"></script>
    <title>Pirates Of Tokyo Bay Voting</title>
    <link type="text/css" rel="stylesheet" href="/assets/css/main.css">
    <link rel="shortcut icon" href="/assets/images/fav_icon.png">
  </head>
  <body>
    <h1>{{ .title }}</h1>
    <div class="container" id="mainText">
    </div>

    <script type="text/javascript">
    


    $.ajax({
        url: '/getteams',
        success: function(data) {
            var team1 = data[0];
            var team2 = data[1];
            var team1_label = team1.Name + " " + team1.Score;
            var team2_label = team2.Name + " " + team2.Score;

            $(function (data) {
                $('#container').highcharts({
                  legend: {
                      itemStyle: {
                        fontSize:'2em',
                        font: '2em Trebuchet MS, Verdana, sans-serif',
                      }
                    },
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'Votes'
                    },
                    xAxis: {
                      gridLineWidth: 1,
                      labels: {
                          style: {
                              fontSize:'2em'
                          }
                      },
                      categories:["======"]
                    },
                    yAxis: {
                        text: 'Votes',
                        gridLineWidth: 1,
                    },
                    series: [{
                        name: team1_label,
                        data: [team1.Score],
                        color: team1.Color,
                        fontSize: '2em'
                    }, {
                        name: team2_label,
                        data: [team2.Score],
                        color: team2.Color,
                        fontSize: '2em'
                    }]
                });
            });
        },
        error: function() {alert("error occurred.")},

    });

    function clearScores(url) {
      $.post( url, function( data ) {});
      location.reload();
    }

    // Refresh page every 5 seconds
    function loadlink(){
        $('#container').load('/',function () {
             $(this).unwrap();
        });
    }

    loadlink(); // This will run on page load
    </script>
    <div id="container" style="width:100%; height:400px;"></div>
    <button onclick="clearScores('/clearscores')">Clear</button>
  </body>
</html>
