<html>
  <head>
    <title>Pirates Of Tokyo Bay Voting</title>
    <link rel="shortcut icon" href="/assets/images/fav_icon.png">
    <section class="container"></section>

    <link type="text/css" rel="stylesheet" href="/assets/css/jquery-ui.css">
    <link type="text/css" rel="stylesheet" href="/assets/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/assets/css/main.css">
  </head>
  <body>

  <h1>Programs Table</h1>

  <p>
  This is pretty rudimentary, I know. But we're starting small here.<br/>
  How this works is you enter all the information you need, and then hit submit.<br/>
  It will submit all info to the server and refresh, but won't show you what you submitted.<br/>
  For that you can go to the app and check. Obviously future plans involve improving<br/>
  this interface.<br/>
  </p>

  <h2>Program Date</h2>
  <p>Please enter the format of the date to be: <b>YYYY-MM-DDTHH-mm-SS+09:00Z</b> (always tokyo time)
  <br/>
  This is so it's consistent with the other places we're fetching dates and
  can parse all required info correctly.
  <p>
  <br/>
  Program Date: <input type="text" id="program-date-field"><br><br>


  <!-- Table for Performers -->
  <h2>Performers</h2>
  <p>
  Here is the existing list of performers:<br/>
  - Ben Anderson<br/>
  - Christiane Brew<br/>
  - David Corbin<br/>
  - Matt Danalewich<br/>
  - Trey Dobson<br/>
  - Jessica Geil<br/>
  - Masa Kawahata<br/>
  - Sawako Kobayashi<br/>
  - Qyoko Kudo<br/>
  - Aya Nakamura<br/>
  - Rodger Sonomura<br/>
  - Mike Staffa<br/>
  - Bob Werley<br/>
  - Annika<br/>
  - Elliot Eaton<br/>
  - Carlos Quiapo<br/>
  - Roza Akino<br/>
  - Tomoko Yoshioka<br/>
<br/>
If a name is entered and ends with <b>a space then f</b> (e.g. "Ms. Awesome f"),<br/>
then a blank woman image will show, otherwise it'll be a blank male picture.
<br/>
<p>

  <br/>
  <div id="performer-table" class="table-editable">
    <span class="performer-add glyphicon glyphicon-plus"></span>
    <table class="table">
      <tr>
        <th>English_Name</th>
        <th>Japanese_Name</th>
        <th></th>
        <th></th>
      </tr>
      <tr class="hide">
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        <td>
          <span class="performer-remove glyphicon glyphicon-remove"></span>
        </td>
      </tr>
    </table>
  </div>
  <br/>

  <h2>Games</h2>
  <div id="game-table" class="table-editable">
    <span class="game-add glyphicon glyphicon-plus"></span>
    <table class="table">
      <tr>
        <th>English_name</th>
        <th>Japanese_name</th>
        <th>English_description</th>
        <th>Japanese_description</th>
        <th></th>
        <th></th>
      </tr>
      <!-- This is our clonable table line -->
      <tr class="hide">
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        <td>
          <span class="game-remove glyphicon glyphicon-remove"></span>
        </td>
      </tr>
    </table>
  </div>
  <br/>

  <h2>News</h2>
  <div id="news-table" class="table-editable">
    <span class="news-add glyphicon glyphicon-plus"></span>
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th></th>
        <th></th>
      </tr>
      <!-- This is our clonable table line -->
      <tr class="hide">
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        <td>
          <span class="game-remove glyphicon glyphicon-remove"></span>
        </td>
      </tr>
    </table>
  </div>


  <button id="save-btn" class="btn btn-primary">Save</button>
  <p id="save"></p>
  <script type="text/javascript" src="/assets/js/jquery-2.1.4.min.js"></script>

  <script src="/assets/js/json-table.js"></script>
  <script>
    programTable('performer-table','save-btn','addperformers','performer-add','performer-remove');
    programTable('game-table','save-btn','addgames','game-add','game-remove');
    programTable('news-table','save-btn','addnews','news-add','news-remove');
  </script>

  </body>
</html>
